(
    settings: (
        supplies_demands: {
            Brewery: (
                demands: [
                    Nickel,
                    Coal,
                    Iron,
                ],
                supplies: [
                    Tools,
                ],
            ),
        },
    ),
)